<% content_for :title, "New post" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New post</h1>

  <%= render "form", post: @post %>

  <div class="flex flex-col sm:flex-row sm:justify-between mt-4">
    <div class="mb-4 sm:mb-0">
      <%= link_to "Back to posts", admin_posts_path, class: "inline-block px-4 py-2 text-sm font-medium text-center text-white bg-blue-600 rounded-md hover:bg-blue-700" %>
    </div>
  </div>
</div>
